body {
    font-family: Arial, sans-serif;
    background-color: #130cdc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    background-color: #eee5e5;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(248, 241, 241, 0.1);
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #2c3e50;
    margin-bottom: 15px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 5px;
}

.role {
    color: #555;
    font-size: 16px;
}

h2 {
    color: #34495e;
    margin-top: 25px;
    text-align: left;
}

p, li {
    color: #444;
    line-height: 1.6;
    text-align: left;
}

ul {
    padding-left: 20px;
    text-align: left;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.contact {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}
